html {
  background-color: #f1f5f9;
  /* font-family: sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* generic */

.max-w-standard {
  max-width: 1220px;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #e0a6ff;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #e0a6ff;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

}

/* Dark Theme */

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}


/* */

.bg-rainbow {
  background: conic-gradient(
    rgb(255, 0, 0, 0.95) 0deg,
    rgb(255, 165, 0, 0.95) 51deg,
    rgb(255, 255, 0, 0.95) 103deg,
    rgb(0, 255, 0, 0.95) 154deg,
    rgb(0, 0, 255, 0.95) 206deg,
    rgb(75, 0, 130, 0.95) 257deg,
    rgb(148, 0, 211, 0.95) 309deg,
    rgb(255, 0, 0, 0.95) 360deg,
    transparent 320deg
  );
}
