---
import ButtonAura from '../atoms/ButtonAura.astro';

const { title, subtitle } = Astro.props; // Boost your productivity today
---

<div class="bg-gray-900">
  <div class="py-24 mx-auto max-w-7xl sm:px-6 sm:py-32 lg:px-8">
    <div class="relative px-6 py-24 overflow-hidden text-center bg-gray-800 isolate after:pointer-events-none after:absolute after:inset-0 after:inset-ring after:inset-ring-white/10 sm:rounded-3xl sm:px-16 after:sm:rounded-3xl">

      <h2 class="text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">{ title }</h2>
      <p class="max-w-xl mx-auto mt-6 text-gray-300 text-lg/8 text-pretty">{ subtitle }</p>
      <div class="flex items-center justify-center mt-10 gap-x-6">
        <ButtonAura label="Get started" link="#" />
        <a href="#" class="font-semibold text-white text-sm/6">
          Learn more
          <span aria-hidden="true">→</span>
        </a>
      </div>
      <svg viewBox="0 0 1024 1024" aria-hidden="true" class="absolute top-1/2 left-1/2 -z-10 size-256 -translate-x-1/2 mask-[radial-gradient(closest-side,white,transparent)]">
        <circle r="512" cx="512" cy="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
        <defs>
          <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" />
          </radialGradient>
        </defs>
      </svg>

      <!-- <div class="max-w-sm pt-10 mx-auto">
        <a href="#" class="transition-all ease-in-out duration-700 block animate-background rounded-full border-8 border-black/80 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-2 [animation-duration:_6s] group hover:border-black/50 hover:bg-black/50">
          <span class="transition-all ease-in-out duration-700 block px-10 py-4 text-md md:text-[44px] text-white uppercase rounded-full bg-black/90 font-extralight group-hover:bg-black/50"> Push to Start </span>
        </a>
      </div> -->

    </div>
  </div>
</div>
