---
import Logo from '../atoms/Logo.astro';

const navigationItems = [
  // { name: 'Portfolio', href: '/portfolio' },
  // { name: 'Blog', href: '/blog' },
  // { name: 'About', href: '/about' },
  // { name: 'Contact', href: '/contact' }

  // { name: 'About', href: '/about' }, //  href: '/blog' }, // EACH ONE SHOULD BE A BLOG POST 
  // { name: 'Blog', href: '/blog' }, //  href: '/about' }, 
  // { name: 'Resources', href: '/resources' }, //  href: '/about' }, 
  // { name: 'Services', href: '/services' },

  { name: 'About', href: '/about' },
  { name: 'Blog', href: '/blog' },
  { name: 'Portfolio', href: '/portfolio' },
  { name: 'Resources', href: '/resources' },
  { name: 'Services', href: '/services' },
  
];
---

<el-dialog>
  <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
    <div tabindex="0" class="fixed inset-0 focus:outline-none">
      <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full p-6 overflow-y-auto bg-gray-900 sm:max-w-sm sm:ring-1 sm:ring-gray-100/10">
        <div class="flex items-center justify-between">
          <Logo />
          <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-400">
            <span class="sr-only">Close menu</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="flow-root mt-6">
          <div class="-my-6 divide-y divide-white/10">
            <div class="py-6 space-y-2">
              {navigationItems.map(item => (
                <a href={item.href} class="block px-3 py-2 -mx-3 font-semibold text-white rounded-lg text-base/7 hover:bg-white/5">
                  {item.name}
                </a>
              ))}
            </div>
            <div class="py-6">
              <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-white/5">
                Connect
              </a>
            </div>
          </div>
        </div>
      </el-dialog-panel>
    </div>
  </dialog>
</el-dialog>
