---
const navigationItems = [
  { name: 'Insights', href: '/blog' },
  { name: 'Resources', href: '/about' },
  { name: 'Services', href: '/tags' },
  { name: 'Shop', href: '/tags' },
];
---

<el-popover-group class="hidden lg:flex lg:gap-x-0">
  {navigationItems.map(item => (
    <a href={item.href} class="px-8 py-6 text-xs font-bold tracking-widest text-blue-100 uppercase transition-all duration-300 ease-in-out hover:text-white">
      {item.name}
    </a>
  ))}
</el-popover-group>