---
const navigationItems = [
  { name: 'Insights', href: '/edicts' }, //  href: '/blog' }, // EACH ONE SHOULD BE A BLOG POST 
  { name: 'Resources', href: '/resources' }, //  href: '/about' }, 
  { name: 'Services', href: '/services' },
  { name: 'Shop', href: '/tags' },
];
---

<el-popover-group class="hidden lg:flex lg:gap-x-0">
  {navigationItems.map(item => (
    <a href={item.href} class="px-8 py-6 text-xs font-bold tracking-widest text-blue-100 uppercase transition-all duration-300 ease-in-out hover:text-white">
      {item.name}
    </a>
  ))}
</el-popover-group>