---
import socials from '../../data/socials.json';
---

<ul class="flex flex-row flex-wrap items-center justify-center gap-2">
  {socials.map((social) => (
    <li>
      <a
        class="block p-3 text-white transition-all duration-500 ease-in-out border rounded-full shadow-sm border-white/30 hover:border-white/80 bg-black/20 hover:scale-110 hover:bg-black group"
        href={social.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          class="w-6 h-6 transition-all duration-500 ease-in-out fill-white opacity-90 group-hover:opacity-100 group-hover:scale-105"
          role="img"
          viewBox={social.viewBox}
        >
          <title>{social.title}</title>
          <Fragment set:html={social.content} />
        </svg>
      </a>
    </li>
  ))}
</ul>