---
import socials from '../../data/socials.json';
---

<ul class="flex flex-wrap justify-center gap-10 mt-16">
    {socials.map((social) => (
        <li>
            <a href={social.url} target="_blank" class="text-gray-400 hover:text-white">
                <span class="sr-only">{social.title}</span>
                <svg viewBox={social.viewBox} fill="currentColor" aria-hidden="true" class="size-6">
                    <Fragment set:html={social.content} />
                </svg>
            </a>
        </li>
    ))}
</ul>
