---
import BaseLayout from '../layouts/BaseLayout.astro'

import WorkExperience from '../components/sections/WorkExperience.astro'

const pageTitle = "Contact"
---
<BaseLayout pageTitle={`${pageTitle} blog`}>


    <section class="pt-8 pb-20">
      <div class="container px-10 mx-auto text-gray-200 md:max-w-3xl xl:max-w-6xl">

        <WorkExperience />

      </div>
    </section>

</BaseLayout>
