---

import BaseLayout from "@layouts/BaseLayout.astro"

---

<BaseLayout pageTitle="Button Experiments">

	<div class="grid h-screen p-10 place-content-center bg-gradient-to-b from-black to-black">
		<a href="#" class="transition-all ease-in-out duration-700 block animate-background rounded-full border-8 border-black/80 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-2 [animation-duration:_6s] group hover:border-black/50 hover:bg-black/50">
			<span class="transition-all ease-in-out duration-700 block px-10 py-4 text-md md:text-[44px] text-white uppercase rounded-full bg-black/90 font-extralight group-hover:bg-black/50"> Push to Start </span>
		</a>
	</div>

	<div class="grid h-screen p-10 place-content-center bg-gradient-to-tr from-green-50 to-teal-50 via-pink-50">
		<a href="#" class="block animate-background rounded-full border-8 border-black/30 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-1 [animation-duration:_6s]">
			<span class="block px-10 py-4 text-lg font-semibold rounded-full bg-pink-50"> Push to Start </span>
		</a>
	</div>

</BaseLayout>
