---
import SocialIconsFooter from '../components/blocks/SocialIconsFooter.astro'
---

<footer class="bg-gray-900">
    <div class="px-6 py-20 mx-auto overflow-hidden max-w-7xl sm:py-24 lg:px-8">
        
        <img src="/images/logo.svg" alt="Marcus Logo" width="800" height="600" class="mx-auto h-9" />

        <!--n
        <nav aria-label="Footer" class="flex flex-wrap justify-center -mb-6 gap-x-12 gap-y-3 text-sm/6">
        <a href="#" class="text-gray-400 hover:text-white">About</a>
        <a href="#" class="text-gray-400 hover:text-white">Blog</a>
        <a href="#" class="text-gray-400 hover:text-white">Jobs</a>
        <a href="#" class="text-gray-400 hover:text-white">Press</a>
        <a href="#" class="text-gray-400 hover:text-white">Accessibility</a>
        <a href="#" class="text-gray-400 hover:text-white">Partners</a>
        </nav>
        -->

        <SocialIconsFooter />

        <p class="mt-10 text-center text-gray-400 text-sm/6">&copy; 2025 Marcus Veres. All rights reserved.</p>
    </div>
</footer>
