---
import Logo from './atoms/Logo.astro';
import NavigationLinks from './blocks/NavigationLinks.astro';
import MobileMenu from './blocks/MobileMenu.astro';
---

<header class="sticky top-0 z-10 w-full border-b border-gray-600 isolate bg-black/90 backdrop-blur-md">
  <nav aria-label="Global" class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8">
    <!-- Logo -->
    <div class="flex lg:flex-1">
      <Logo />
    </div>
    
    <!-- Mobile menu button -->
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
        <span class="sr-only">Open main menu</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    
    <!-- Desktop navigation -->
    <NavigationLinks />
    
    <!-- CTA -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/contact" class="transition-all ease-in-out duration-300 font-semibold text-gray-800 hover:text-black uppercase text-sm/6 animate-background rounded-full border-2 border-black/90 hover:border-black/30 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-0.5 [animation-duration:_6s]">
        <span class="block px-6 py-2 text-sm font-medium rounded-full bg-pink-50 hover:bg-white"> Connect </span>
      </a>
    </div>

    <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end"></div>
      <a href="/contact" class="block animate-background rounded-full border-8 border-black/30 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-1 [animation-duration:_6s]">
        <span class="block px-10 py-4 text-sm font-medium rounded-full bg-pink-50"> Push to Start </span>
      </a>
    </div> -->

  </nav>
  
  <!-- Mobile menu -->
  <MobileMenu />
</header>
