---
import Logo from './atoms/Logo.astro';
import NavigationLinks from './blocks/NavigationLinks.astro';
import MobileMenu from './blocks/MobileMenu.astro';
import ButtonAura from './atoms/ButtonAura.astro';
---

<header class="sticky top-0 z-10 w-full bg-black shadow-md border-bx border-black/30 drop-shadow-black isolate backdrop-blur-md">
  <nav aria-label="Global" class="flex items-center justify-between mx-auto max-w-[1600px] py-6 px-6 lg:py-0">
    <!-- Logo -->
    <div class="flex lg:flex-1">
      <Logo />
    </div>
    
    <!-- Mobile menu button -->
    <div class="flex lg:hidden">
      <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
        <span class="sr-only">Open main menu</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    
    <!-- Desktop navigation -->
    <NavigationLinks />
    
    <!-- CTA -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <ButtonAura label="Connect" link="/contact" />
    </div>

  </nav>

  <!-- animated border -->
  <div class="w-full h-[1px] animate-background bg-gradient-to-r [animation-duration:_6s] bg-[length:_400%_400%] from-green-300 via-blue-600 to-pink-600"></div>
  
  <!-- Mobile menu -->
  <MobileMenu />
</header>
