---
---

	<div class="pt-24 bg-gray-900 sm:pt-32">
		<div class="max-w-2xl mx-auto text-center">
			<h2 class="font-semibold text-indigo-400 text-base/7">
				Trusted by serious companies
			</h2>
			<p class="mt-2 text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">
				I've delivered results for
			</p>
		</div>
		<div class="px-6 pt-12 mx-auto max-w-7xl lg:px-8 lg:pt-20">
			<div class="grid items-center max-w-lg grid-cols-4 mx-auto gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">

				<img width="158" height="48" src="/images/client-logos/logo-chase.svg" alt="JPMorgan Chase" class="object-contain w-full col-span-2 max-h-12 sm:col-start-2 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-coca-cola.svg" alt="Coca Colo" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-kpmg.svg" alt="KPMG" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-salesforce.svg" alt="Salesforce" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-usaf.svg" alt="USAF" class="object-contain w-full col-span-2 col-start-2 max-h-12 sm:col-start-auto lg:col-span-1" />
				
			</div>
		</div>
	</div>