---
import reviewsData from '../data/reviews.json';

const reviews = reviewsData;
---

	<div id="reviews" class="pt-12 bg-gray-900 sm:pt-32">
		<div class="px-6 mx-auto max-w-7xl lg:px-8">
			<div class="max-w-2xl mx-auto text-center">
				<h2 class="font-semibold text-indigo-400 text-base/7">
					I have worked with hundreds of amazing people
				</h2>
				<p class="mt-2 text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">
					Here are some recent examples of what they had to say.
				</p>
			</div>
			<div class="flow-root max-w-2xl mx-auto mt-16 sm:mt-20 lg:mx-0 lg:max-w-none">
                <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">

                    { reviews.map( review => (
                        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
                            <figure class="rounded-2xl bg-white/2.5 p-8 text-sm/6">
                                <blockquote class="text-gray-100">
                                <p>“{ review.review }”</p>
                                </blockquote>
                                <figcaption class="flex items-center mt-6 gap-x-4">
                                <img src={review.photo} alt="" class="bg-gray-800 rounded-full size-10" />
                                <div>
                                    <div class="font-semibold text-white">{ review.name }</div>
                                    <div class="text-gray-400">{ review.title }</div>
                                </div>
                                </figcaption>
                            </figure>
                        </div>
                    ))}
                    
                </div>
			</div>
		</div>
	</div>
