---
const { label, link } = Astro.props;
---
<a href={ link } class="transition-all ease-in-out duration-700 block animate-background rounded-full border-8 border-black/80 bg-gradient-to-r from-green-300 via-blue-600 to-red-300 bg-[length:_400%_400%] p-2 [animation-duration:_6s] group hover:border-black/50 hover:bg-black/50">
    <span class="transition-all ease-in-out duration-700 block px-10 py-4 text-md md:text-[44px] text-white uppercase rounded-full bg-black/90 font-extralight group-hover:bg-black/50">{ label }</span>
</a>
